.img22{ width:100%; }
.block{ width: 100%;background: #fff;border-top: 1px solid #eaeaea;border-bottom: 1px solid #eaeaea;  padding: .5em 0;margin: .5em 0 }
.page44 p{ margin-left: 4%;line-height: 1.8;font-size: 1.8em; }