/*theme:门店选柜菜单 ;
 * author:lxy;
 * data:2017-02-24;
 * */
body{
	background:#ededed;
	font-family:simhei;
}
.zj{
	width:.44rem;
	height:.45rem;
	position:absolute;
	right:0;
	top:0;
	z-index:22;
}
.zj1{
	width:.7rem;
	height:.7rem;
	position:absolute;
	right:0;
	top:0;

}
.search{
	width:7.5rem;
	height:.99rem;
	line-height:.99rem;
	background:#00aaee;
	position:relative;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	margin-bottom:.12rem;
}
.search_btn{
	color:#fff;
	font-size:.32rem;
	width:.75rem;
	height:.99rem;
	position:absolute;
	right:0;
	display:none
}
.searchInput{
	width:7.13rem ;
	height:.62rem;
	border-radius:.9rem/1rem;
	font-size:.32rem;
	color:#bfbfbf;
	text-indent:.4rem;
}
.searchInputTxt{
	width:7.13rem ;
	height:.62rem;
	border-radius:.9rem/1rem;
	font-size:.32rem;
	color:#bfbfbf;
	text-align:center;
	margin-top:2rem
}
.searchButton{
	width:.36rem;
	height:.36rem;
	position:absolute;
	right:.53rem;
	top:.3rem;
}
.storeList{
	width:7.5rem;
	margin-bottom:1.3rem
}
.storeInfo{
	width:7.5rem;
	height:1.8rem;
	line-height:1.8rem;
	background:#fff;
	position:relative;
	margin-bottom: .2rem;
}
.moneyDiv{
	width:1.42rem;
	height:.32rem;
	position:absolute;
	right:0;
	bottom:.24rem;
}
.Prides{
	height: .46rem;
	line-height:.46rem;
	position:absolute;
	right:0rem;
	bottom:.04rem;
}

.money{
	color:#00aaee;
	font-size:.226rem;
	float:right;
	line-height:.6rem;
	margin-right:.003rem;
}
.yuan{
	color:#00aaee;
	font-size:.36rem;
	float:right;
}
.rise{
	color:#8a8a8a;
	font-size:.2rem;
	margin-left:.07rem;
	margin-right:.2rem;
	float:right;
	line-height:.6rem;
}
.moneyDiv .yuan{
	color:#00aaee;
	font-size:.36rem;
	position:absolute;
	top:-.73rem;
	left:.18rem;
}
.moneyDiv span{
	color:#8a8a8a;
	font-size:.2rem;
	position:absolute;
	top:-.68rem;
	left:.9rem;
}
.distance{
	width:.7rem;
	height:.7rem;
	position:absolute;
	right:0;
	top:0;
	float:left;
	color: #fff;
	font-size:.24rem;
}
.distance .text{
	position:absolute;
	float:left;
	top:-.62rem;
	right:-.02rem;
	color:#fff;
	font-size:.24rem;
	transform:rotate(45deg);
	-ms-transform:rotate(45deg); /* Internet Explorer */
	-moz-transform:rotate(45deg); /* Firefox */
	-webkit-transform:rotate(45deg); /* Safari 和 Chrome */
	-o-transform:rotate(45deg); /* Opera */
}
.mark_bg{
	width:.7rem;
	height:.7rem;
	position:absolute;
	right:0;
	top:0;
}
.storeInfo .right{
	width:7.3rem;
	height:1.4rem;
	margin:0 auto;
	position:absolute;
	top:.2rem;
	left:.2rem;
}
.right_img{
	width:1.4rem;
	height:1.4rem;
	float:left;
	display:none
}
.preloading{
	width:1.4rem;
	height:1.4rem;
	position:absolute;
	left:0
}
.right .info{
	width:5.7rem;
	height:1.4rem;
	float:right;
	position:relative;

}
.info .top{
	width:3.96rem;
	height:.62rem;
	line-height:.35rem;
	font-size:.3rem;
	color:#202020;


}
.pos{
	width:.19rem;
	height:.78rem;
	background:#000;
}
.bottom{
	width:3.94rem;
	height:.59rem;
	margin-top:.19rem
}
.posImg{
	width:.18rem;
	height:.22rem;
	float:left;
}
.addrInfo{
	width:3.75rem;
	height:.59rem;
	color:#afafaf;
}
.addrInfo .top{
	width:3.95rem;
	height:.23rem;
	line-height:.23rem;
	text-indent:.1rem;
	font-size:.24rem;
}
.addrInfo .bottom{
	width:3.75rem;
	height:.22rem;
	line-height:.22rem;
	margin-top:.14rem;
	font-size:.24rem;
	text-indent:.32rem;
}
.navList{
	width:7.5rem;
	height:.92rem;
	background:#fff;
	position:fixed;
	bottom:0;
	left:0;
}
.list1{
	width:2.45rem;
	height:.92rem;
	float:left;
	border-right:.05rem solid #e5e5e4;

}
.list1 .list1_top{
	width:2.45rem;
	height:.45rem;
	position:relative;
}
.list1 .list1_top img{
	width:.36rem;
	height:.29rem;
	position:absolute;
	bottom:0;
	left:1.05rem;
}
.list1 .list1_bottom{
	width:2.45rem;
	height:.47rem;
	line-height:.47rem;
	font-size:.3rem;
	color:#444444;
	text-align:center;
}
.list2{
	width:2.35rem;
	height:.92rem;
	float:left;
	border-right:.05rem solid #e5e5e4;
}
.returnLast{
	width:.24rem;
	height:.44rem;
	position:absolute;
	left:.2rem;
	top:.27rem;
	display:none;
}
.list2 .list2_top{
	width:2.45rem;
	height:.45rem;
	position:relative;
}
.list2 .list2_top img{
	width:.36rem;
	height:.29rem;
	position:absolute;
	bottom:0;
	left:1.05rem;
}
.list2 .list2_bottom{
	width:2.45rem;
	height:.47rem;
	line-height:.47rem;
	font-size:.3rem;
	color:#444444;
	text-align:center;
}
.list3{
	float:left;
	width:2.45rem;
	height:.92rem

}
.list3 .list3_top{
	width:2.45rem;
	height:.45rem;
	position:relative;
}
.list3 .list3_top img{
	width:.36rem;
	height:.26rem;
	position:absolute;
	bottom:0;
	left:1.05rem;
}
.list3 .list3_bottom{
	width:2.45rem;
	height:.47rem;
	line-height:.47rem;
	font-size:.3rem;
	color:#444444;
	text-align:center;
}
.loading22{
  width:7.5rem;
  height:100%;
  background:#fff;
  z-index:99999;
  position:fixed;
  top: 0;
}
.loading22 .img1{
  width:.99rem;
  height:.89rem;
  position:fixed;
  left:3.1rem;
  top:5.2rem;
}
.loading22 .img2{
  width:1.085rem;
  height:.29rem;
  position:fixed;
  left:3.1rem;
  top:6.2rem;
}
.flyTop{
	width:.8rem;
	height:.8rem;
	position:fixed;
	_position:absolute;
	bottom:1.5rem;
	right:.5rem;
	display:none;
	z-index:33;
}
.divHide{
  	display:none
  }