/*theme:填写订单 ;
 * author:lxy;
 * data:2017-02-27;
 * */
body{
	background:#ededed;
	font-family:simhei;
}
.promptInfo{
	width:7.5rem;
	height:3.2rem;
	background:#fff;
	margin-bottom:.48rem;
	display: flex;
  	justify-content: center;
  	align-items: center; 
  	position:relative;
}
.promptInfo .p1{
	color:#717171;
	font-size:.36rem;
	width:3.22rem;
	height:.5rem;
	line-height:.5rem;
	float:left;
	position: absolute;
	left:2.95rem;
	top:.9rem;
}
.promptInfo .p2{
	color:#717171;
	font-size:.36rem;
	width:3.22rem;
	height:.5rem;
	line-height:.5rem;
	float:left;
	position: absolute;
	left:2.95rem;
	top:1.6rem;
}
.paid{
	width:1.68rem;
	height:1.56rem;
	position:absolute;
	left:1.03rem;
	top:.78rem;
}

.seeButton{
	width:7.11rem;
	height:1.01rem;
	background:#00aaee;
	line-height:1.01rem;
	margin:0 auto;
	border-radius:.1rem;
	color:#fff;
	font-size:.36rem;
	text-align:center;
	
}
